/* global */

*{
    background-color: #171a1f;
}

/* fontes */

@font-face {
    font-family: semibold;
    src: url(../public/OverusedGrotesk-SemiBold.woff);
}

@font-face {
    font-family: regular;
    src: url(../public/GeistMono-SemiBold.otf);
}

/* texto */

.title {
    color: #ffffff;
    font-family: semibold;
    font-size: 3rem;
    letter-spacing: -5px;
}

.subtitle {
    color: #949292;
    font-family: regular;
    margin: 6rem auto;
}

.ResultPassword{
    color: #e2e2e2;
    font-family: semibold;
    font-size: 1.5rem;
}

/* elements */
.input{
    width: 120%;
    border: solid 2px rgb(195, 195, 195);
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    font-family: regular;
    font-size: 1.5rem;
}

.input::selection{
    border: none;
}
/* container */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.containerGlobal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: regular;
}

.containerStart{
    display: flex;
    align-items: start;
    font-family: regular;
}

/* media-query*/

@media (max-width: 600px) {
    .input{
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
    }

    .title{
        font-size: 2rem;
        margin: 5rem auto;
        letter-spacing: 0;
    }

    .subtitle{
        font-size: 1rem;
        width: 70%;
        margin: 5rem auto;
        letter-spacing: 0;
        justify-content: justify;
    }

}