/* global */

*{
    background-color: #171a1f;
}

/* fontes */

@font-face {
    font-family: semibold;
    src: url(../public/OverusedGrotesk-SemiBold.woff);
}

@font-face {
    font-family: regular;
    src: url(../public/GeistMono-SemiBold.otf);
}
